{% extends 'base.html.twig' %}

{% block body %}
    <h1>Quizauthorization</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ quizAuthorization.id }}</td>
            </tr>
            <tr>
                <th>Startdate</th>
                <td>{% if quizAuthorization.startDate %}{{ quizAuthorization.startDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Enddate</th>
                <td>{% if quizAuthorization.endDate %}{{ quizAuthorization.endDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('quizauthorization_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('quizauthorization_edit', { 'id': quizAuthorization.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
