{% extends 'base.html.twig' %}
{% import "forms.html.twig" as forms %}
{% block content %}
    {% set page = {'active': ''} %}
    <ul class="nav nav-tabs">
        {% include 'userinfo/navbar.html.twig' with page %}
        <li class="active">
            <a href="{{ path('user_index', { 'account': account }) }}">Éditer Utilisateur</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" >
            <div class="addItem">
                <h1>Éditer Utilisateur</h1>
                <form method="POST" >
                    {{ forms.input("username", userInfo.username, "text", null, "Nom d'utilisateur", null, "name") }}
                    {{ forms.input("email", userInfo.email, "text", null, "Courriel", null, "email") }}
                    {{ forms.double_input("firstname", userInfo.firstName, "text", null, "Prénom", null, null, "name", "name", userInfo.name, "text", null, "Nom de famille", null, null, "name") }}
                    {{ forms.input_label("isActive", null, "checkbox", null, null, "isActive", "Usager actif ?", "none", userInfo.isActive) }}
                    {{ forms.input_label("forcePsw", null, "checkbox", null, null, "forcePsw", "Changer mot de passe?", "none", userInfo.forcePsw) }}
                    {{ forms.input_label("role_admin", null, "checkbox", null, null, "role_admin", "Administrateur", "none", userInfo.isAdmin) }}
                    <h2>Department</h2>
                    {#{% set user_department = {'department': app.token.user.departmentAuthorization.departmentInfo} %}#}
                    <div class="start-tree">
                        {% include 'departmentTree.html.twig' with {'departments': departments, 'checked':userInfo.departmentAuthorization.departmentInfo.id} %}
                    </div>
                    {{ forms.button_form("submit", "add", null, "tooltip", "left", "editer utilisateur", "Editer utilisateur") }}
                </form>
                {#{{ form_start(delete_form) }}
                <input type="submit" value="Delete">
                {{ form_end(delete_form) }}#}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('Resources/public/js/forms.js') }}"></script>
{% endblock %}
