{% extends 'base.html.twig' %}
{% import "forms.html.twig" as forms %}
{% block content %}
    {% set page = {'active': ''} %}
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="{{ path('user_index', { 'account': account }) }}">Profile</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" >
            <div class="addItem">
                <h1>{{ app.user.firstname }} {{ app.user.name }}</h1>
                <form method="POST" >
                    {{ forms.double_input("firstname", app.user.firstname, "text", null, "Prénom", null, null, "name", "name", app.user.name, "text", null, "Nom de famille", null, "name", "name") }}
                    {{ forms.input("n1password", null, "password", null, "Nouveau mot de passe", null, "password", null) }}
                    {{ forms.input("n2password", null, "password", null, "Confirmer nouveau mot de passe", null, "password", null) }}
                    {{ forms.button_form("submit", "add", null, "tooltip", "left", "editer profile", "Editer profile") }}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('Resources/public/js/forms.js') }}"></script>
{% endblock %}
