{% extends 'base.html.twig' %}
{% block content %}
    <div>
        <ul class="nav nav-tabs">
            {% set page = {'active': ''} %}
            {% include 'userinfo/navbar.html.twig' with page %}
            <li class="active">
                <a href="{{ path('user_index', { 'account': account }) }}">{{ userInfo.firstName }} {{ userInfo.name }}</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" >
                <div class="addItem">
                    <table class="table table-hover table-responsive show-item">
                        <tbody>
                            <tr>
                                <th>{{ "user.username"|trans|capitalize }}</th>
                                <td>{{ userInfo.username }}</td>
                            </tr>
                            <tr>
                                <th>{{ "user.firstname"|trans|capitalize }}</th>
                                <td>{{ userInfo.firstName }}</td>
                            </tr>
                            <tr>
                                <th>{{ "user.lastname"|trans|capitalize }}</th>
                                <td>{{ userInfo.name }}</td>
                            </tr>
                            <tr>
                                <th>{{ "user.email"|trans|capitalize }}</th>
                                <td>{{ userInfo.email }}</td>
                            </tr>
                            <tr>
                                <th>{{ "user.actif"|trans|capitalize }}</th>
                                <td>{% if userInfo.isActive %}{{ "general.yes"|trans|capitalize }}{% else %}{{ "general.no"|trans|capitalize }}{% endif %}</td>
                            </tr>
                            <tr>
                                <th>{{ "user.forcePsw"|trans|capitalize }}</th>
                                <td>{% if userInfo.forcePsw %}{{ "general.yes"|trans|capitalize }}{% else %}{{ "general.no"|trans|capitalize }}{% endif %}</td>
                            </tr>
                            <tr>
                                <th>{{ "general.group"|trans|capitalize }}</th>
                                <td>{{ userInfo.departmentAuthorization.departmentInfo.name}}</td>
                            </tr>
                            <tr>
                                <th>{{ "general.created"|trans|capitalize }}</th>
                                <td>{% if userInfo.createdOn %}{{ userInfo.createdOn|date('Y-m-d H:i:s') }}{% endif %}</td>
                            </tr>
                            <tr>
                                <th>{{ "general.edited"|trans|capitalize }}</th>
                                <td>{% if userInfo.modifiedOn %}{{ userInfo.modifiedOn|date('Y-m-d H:i:s') }}{% endif %}</td>
                            </tr>
                        </tbody>
                    </table>
                    <a class="add" href="{{ path('user_edit', { 'id': userInfo.id, 'account': account }) }}">{{ "general.edit"|trans|capitalize }} {{ userInfo.firstName }} {{ userInfo.name }}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
