{% extends 'base.html.twig' %}
{% import "forms.html.twig" as forms %}
{% block content %}
    {% set page = {'active': ''} %}
    <ul class="nav nav-tabs">
        {% include 'departmentinfo/navbar.html.twig' with page %}
        <li class="active">
            <a href="{{ path('departmentinfo_index', { 'account': account }) }}">{{ departmentInfo.name }}</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" >
            <div class="addItem">
                <h1>{{ "group.edit"|trans|capitalize }}</h1>
                <form method="POST" >
                    {{ forms.input("name", departmentInfo.name, "text", null, "group.name"|trans|capitalize, null, "name", null) }}
                    <h2>{{ "group.parent"|trans|capitalize }}</h2>
                    {% if departmentInfo.parent != null %} 
                        {% set checked = departmentInfo.parent.id %} 
                    {% else %} 
                        {% set checked = null %} 
                    {% endif %}
                    <div class="start-tree">
                        {% include 'departmentTree.html.twig' with { 'departments': departments, 'checked': checked } %}
                    </div>
                    {{ forms.button_form("submit", "add", null, "tooltip", "left", "group.edit"|trans|capitalize, "group.edit"|trans|capitalize) }}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('Resources/public/js/forms.js') }}"></script>
{% endblock %}