{% extends 'base.html.twig' %}
{% block content %}
    <div>
        <ul class="nav nav-tabs">
            {% set page = {'active': ''} %}
            {% include 'departmentinfo/navbar.html.twig' with page %}
            <li class="active">
                <a href="{{ path('user_index', { 'account': account }) }}">{{ departmentInfo.name }}</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" >
                <div class="addItem">
                    <table>
                        <tbody>
                            <tr>
                                <th>{{ "group.name"|trans|capitalize }}</th>
                                <td>{{ departmentInfo.name }}</td>
                            </tr>
                            <tr>
                                <th>{{ "group.isActive"|trans|capitalize }}</th>
                                <td>{% if departmentInfo.isActive %}{{ "general.yes"|trans|capitalize }}{% else %}{{ "general.no"|trans|capitalize }}{% endif %}</td>
                            </tr>
                            <tr>
                                <th>{{ "general.description"|trans|capitalize }}</th>
                                <td>{{ departmentInfo.description|trans|capitalize }}</td>
                            </tr>
                            <tr>
                                <th>{{ "general.created"|trans|capitalize }}</th>
                                <td>{% if departmentInfo.createdOn %}{{ departmentInfo.createdOn|date('Y-m-d H:i:s') }}{% endif %}</td>
                            </tr>
                        </tbody>
                    </table>
                    <a class="add" href="{{ path('departmentinfo_edit', { 'id': departmentInfo.id, 'account': account }) }}">{{ "general.edit"|trans|capitalize }}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
