{% extends 'base.html.twig' %}
{% block content %}
    <div>
        <ul class="nav nav-tabs">
            {% set page = {'active': ''} %}
            {% include 'departmentinfo/navbar.html.twig' with page %}
            <li class="active">
                <a href="{{ path('user_index', { 'account': account }) }}">{{ departmentInfo.name }}</a>
            </li>
        </ul>
        <table>
            <tbody>
                <tr>
                    <th>Nom du groupe</th>
                    <td>{{ departmentInfo.name }}</td>
                </tr>
                <tr>
                    <th>C'est actif ?</th>
                    <td>{% if departmentInfo.isActive %}Oui{% else %}No{% endif %}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ departmentInfo.description }}</td>
                </tr>
                <tr>
                    <th>Créé</th>
                    <td>{% if departmentInfo.createdOn %}{{ departmentInfo.createdOn|date('Y-m-d H:i:s') }}{% endif %}</td>
                </tr>
            </tbody>
        </table>
        <ul>
            <li>
                <a href="{{ path('departmentinfo_edit', { 'id': departmentInfo.id, 'account': account }) }}">Modifier</a>
            </li>
        </ul>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
