{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css"/>
{% endblock %}
{% block content %}
    <div>
        <ul class="nav nav-tabs">
            {% set page = {'active': 'admin'} %}
            {% include 'quiz/navbar.html.twig' with page %}
        </ul>
        <div class="tab-content">
            <div class="tab-pane active">
                <table id='all_quizzes'>
                    <thead>
                        <tr>
                            <th>Quiz Name</th>
                            <th>Modifier</th>
                            <th>Gestion de groupes</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for quiz in quizzes %}
                            <tr>
                                <td>{{ quiz.quizId }}</td>
                                <td>
                                    {% if quiz.getAccountInfo() == app.user.getAccountInfo() %}
                                        <a href="{{ path('quiz_edit', { 'id': quiz.id, 'account': account }) }}">
                                            <span class="glyphicon glyphicon-edit"></span>
                                        </a>
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="{{ path('quiz_authorization', { 'id': quiz.id, 'account': account }) }}">
                                        <span class="glyphicon glyphicon-edit"></span>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.13/datatables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/select/1.2.1/js/dataTables.select.min.js"></script>
    <script type="text/javascript" >
        $(document).ready(function () {
            var table = $('#all_quizzes').DataTable();
        });
    </script>
{% endblock %}
