{% extends 'base.html.twig' %}
{% import "forms.html.twig" as forms %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('Resources/public/css/bootstrap-colorpicker.min.css') }}" rel="stylesheet" type='text/css' />
{% endblock %}
{% import "forms.html.twig" as forms %}
{% block content %}
    {% set page = {'active': 'new'} %}
    <ul class="nav nav-tabs">
        {% include 'quiz/navbar.html.twig' with page %}
    </ul>
    <form method="POST" id="add_quiz_form">
        <input type="hidden" name="QUIZ_TYPE" value="TYPE_A">
        <div class="containerEdit">
            {{ forms.single_input_label_first("QUIZ_ID", "text", null, "QUIZ_ID", "quiz.name"|trans|capitalize, "text") }}
            {{ forms.single_input_label_first("TIME_TO_COMPLETE", "text", null, "TIME_TO_COMPLETE", "TIME_TO_COMPLETE"|trans|capitalize, "number") }}
            {{ forms.single_input_label_last("LOCKED_ON_COMPLETION", "checkbox", null, "LOCKED_ON_COMPLETION", "LOCKED_ON_COMPLETION"|trans|capitalize, "none", null) }}
            {{ forms.single_input_label_last("IS_USER_CAN_DISPLAY_CHART", "checkbox", null, "IS_USER_CAN_DISPLAY_CHART", "IS_USER_CAN_DISPLAY_CHART"|trans|capitalize, "none", null) }}
            {{ forms.single_input_label_last("IS_USER_CAN_DISPLAY_QA", "checkbox", null, "IS_USER_CAN_DISPLAY_QA", "IS_USER_CAN_DISPLAY_QA"|trans|capitalize, "none", null) }}
            {{ forms.single_input_label_last("IS_ENABLED", "checkbox", null, "IS_ENABLED", "IS_ENABLED"|trans|capitalize, "none", null) }}
            {{ forms.single_input_label_last("IS_USER_SEE_GOOD_ANSWER", "checkbox", null, "IS_USER_SEE_GOOD_ANSWER", "IS_USER_SEE_GOOD_ANSWER"|trans|capitalize, "none", null) }}
            <div class="single-input">
                <label for="QUIZ_DATA">{{ "quiz.data"|trans|capitalize }}</label>
                <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#startDataQuiz">
                    {{ "quiz.btnData"|trans|capitalize }}
                </button>
            </div>
            {% if accountInfos %}
                <h2 class="text-center">{{ "quiz.addAccount"|trans|capitalize }}</h2>
                {% for accountInfo in accountInfos %}
                    {% if accountInfo != app.user.getAccountInfo() %}
                        {{ forms.single_input_label_last("quiz_account", "checkbox", accountInfo.id, "quiz_account_"~accountInfo.id, accountInfo.name, "none") }}
                    {% endif %}
                {% endfor %}
            {% endif %}
            <h2 class="text-center">{{ "quiz.addDepartment"|trans|capitalize }}</h2>
            <div class="start-tree">
                {% include 'departmentTreeCheckBox.html.twig' with {'departments': departments, 'checked': null} %}
            </div>
            <div>
                <button type="button" class="nv-btn-default nv-principal-color" id="onAddQuiz" 
                        data-toggle="tooltip" data-placement="left" title="ajouter quiz" >
                    {{ "quiz.create"|trans|capitalize }}
                </button>
            </div>
        </div>
    </form>
    <div class="modal" id="startDataQuiz" tabindex="-1" role="dialog" >
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span >&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{{ "quiz.data"|trans|capitalize }}</h4>
                </div>
                <div class="modal-body">
                    <div class="panel-group" id="accordion" role="tablist" >
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" >
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse" >
                                        {{ "quiz.title"|trans|capitalize }}
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body">
                                    <div class="single-input">
                                        <label for="QUIZ_TITLE">{{ "quiz.title"|trans|capitalize }}</label>
                                        <input type="text" name="QUIZ_TITLE" id="QUIZ_TITLE" >
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary js_quizTitle" data-collapse="1" >next</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default js_section">
                            <div class="panel-heading" role="tab">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse_1" >
                                        Section 1 : 
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse_1" class="panel-collapse collapse" role="tabpanel" >
                                <div class="panel-body">
                                    <div class="single-input">
                                        <label for="QUIZ_SECTION_TITLE">Titre de la section</label>
                                        <button type="button" class="btn btn-default btn-prev js_delete_section">Effacer Section</button>
                                        <input type="text" name="QUIZ_SECTION_TITLE" id="QUIZ_SECTION_TITLE" >
                                    </div>
                                    <div class="input-group colorpicker-component js_color_picker">
                                        <input type="text" value="#00FFAA" class="form-control" name="js_color_section" />
                                        <span class="input-group-addon"><i></i></span>
                                    </div>
                                    <div class="question" id="question_">
                                        <div class="question_head">
                                            <p>Question</p>
                                            <button type="button" class="btn btn-default btn-prev js_add_question">ajouter question</button>
                                        </div>
                                        <div class="question_body">
                                            <div class="input-group">
                                                <input type="text" class="form-control js_curr_question" value="1." disabled="disabled">
                                                <input type="text" name="QUIZ_QUESTION_TITLE">
                                                <span class="input-group-addon glyphicon glyphicon-remove btn-span js_delete_question"><i></i></span>
                                            </div>
                                            <div class="answer">
                                                <div class="answer-head">
                                                    <p class="p_title">Reponses</p>
                                                    <button type="button" class="btn btn-default btn-prev btn_add js_add_answer">ajouter answer</button>
                                                    <p class="score">score</p>
                                                </div>
                                                <div class="item">
                                                    <div class="input-group">
                                                        <input type="text" class="js_curr_answer" value="A." disabled="disabled">
                                                        <input type="text" name="QUIZ_ANSWER_TITLE">
                                                        <input type="number" name="QUIZ_ANSWER_SCORE">
                                                        <span class="input-group-addon glyphicon glyphicon-remove btn-span js_delete_answer"><i></i></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary js_add_section" data-collapse="1">next</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('Resources/public/js/bootstrap-colorpicker.min.js') }}"></script>
    <script>
        var account = "{{ account }}";
        $(function () {
            $('#cp3').colorpicker({
                color: '#AA3399',
                format: 'rgb'
            });
        });
    </script>
    <script src="{{ asset('Resources/public/js/forms.js') }}"></script>
    <script src="{{ asset('Resources/public/js/addquiz.js') }}"></script>
{% endblock %}

