<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{{ "exception.not.found"|trans|capitalize }}{% endblock %}</title>            
        {% block stylesheets %}
            <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500' rel='stylesheet' type='text/css' />
            <link href="{{ asset('Resources/public/css/bootstrap.css') }}" rel="stylesheet" type='text/css' />
            <link href="{{ asset('Resources/public/css/main.css') }}" rel="stylesheet" type='text/css' />
            {% if app.session.get('settings') %}
                {% include 'settings.html.twig' %}
            {% endif %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body class="{% block body_class %}{% endblock %}">
        {% block body %}
            <nav class="head">
                <div class="image">
                    {% if app.session.get('settings') %}
                        <img src="{{ asset('Resources/public/media/images/') ~ app.session.get('settings').logo }}" alt="">
                    {% endif %}
                </div>
            </nav>
            <article class="container">
                <article class="aside">
                    {% if app.user %}
                        {% include 'aside.html.twig' %}
                    {% else %}
                        <ul>
                            <li>
                                {% set referer = app.request.server.get('http-referer')|default('/') %}
                                <a href="{{ referer }}" class="active">
                                    <span class="glyphicon glyphicon-hand-left"></span><br>
                                    <span class="text">{{ "general.back"|trans|capitalize }}</span>
                                </a>
                            </li>
                        </ul>
                    {% endif %}
                </article>
                <article class="center">
                    {% block content %}
                        <p>NOT FOUND</p>
                    {% endblock %}
                </article>
            </article>
            <footer>
                <div class="footer">
                    <p>{{ "base.footer"|trans|capitalize }}</p>
                </div>
            </footer>
        {% endblock %}
        {% block javascripts %}
            <script src="{{ asset('Resources/public/js/jquery.min.js') }}"></script>
            <script src="{{ asset('Resources/public/js/bootstrap.js') }}"></script>
            <script src="{{ asset('Resources/public/js/main.js') }}"></script>
        {% endblock %}
    </body>
</html>
