{% extends 'base.html.twig' %}

{% block body %}
    <h1>Userquizgroup</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ userQuizGroup.id }}</td>
            </tr>
            <tr>
                <th>Quizgroupid</th>
                <td>{{ userQuizGroup.quizGroupId }}</td>
            </tr>
            <tr>
                <th>Userid</th>
                <td>{{ userQuizGroup.userId }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('userquizgroup_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('userquizgroup_edit', { 'id': userQuizGroup.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
