{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css"/>
{% endblock %}
{% block content %}
    <div>
        <ul class="nav nav-tabs">
            {% set page = {'active': 'index'} %}
            {% include 'accountinfo/navbar.html.twig' with page %}
        </ul>
        <div class="tab-content">
            <div class="tab-pane active">
                <table id="all_data" class="display" width="100%">
                    <thead>
                        <tr>
                            <th>{{ "account.name"|trans|capitalize }}</th>
                                {% if is_granted('ROLE_GOD') %}
                                <th>{{ "general.role"|trans|capitalize }}</th>
                                {% endif %}
                            <th>{{ "general.description"|trans|capitalize }}</th>
                            <th>{{ "general.created"|trans|capitalize }}</th>
                            <th class="text-center">{{ "general.edit"|trans|capitalize }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for accountInfo in accountInfos %}
                            <tr>
                                <td><a href="{{ path('accountinfo_show', { 'id': accountInfo.id, 'account': account }) }}">{{ accountInfo.name }}</a></td>
                                    {% if is_granted('ROLE_GOD') %}
                                    <td>{{ accountInfo.role|trans|capitalize }}</td>
                                {% endif %}
                                <td>{{ accountInfo.description }}</td>
                                <td>{% if accountInfo.createdOn %}{{ accountInfo.createdOn|date('Y-m-d H:i:s') }}{% endif %}</td>
                                <td>
                                    <a class="text-center" href="{{ path('accountinfo_edit', { 'id': accountInfo.id, 'account': account }) }}">
                                        <span class="glyphicon glyphicon-edit"></span>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.13/datatables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/select/1.2.1/js/dataTables.select.min.js"></script>
    {% include 'dataTable.html.twig' %}
{% endblock %}