{% extends 'base.html.twig' %}
{% import "forms.html.twig" as forms %}
{% block content %}
    {% set page = {'active': 'new'} %}
    <ul class="nav nav-tabs">
        {% include 'accountinfo/navbar.html.twig' with page %}
    </ul>
    <div class="tab-content">
        <div class="tab-pane bg-image active" >
            <div class="addItem">
                <h1>{{ "account.createAdmin"|trans|capitalize }}</h1>
                <form method="POST" >
                    {{ forms.input("username", null, "text", null, "user.username"|trans|capitalize, null, "name", null) }}
                    {{ forms.input("email", null, "text", null, "user.email"|trans|capitalize, null, "email", null) }}
                    {{ forms.double_input("firstname", null, "text", null, "user.firstname"|trans|capitalize, null, null, "name", 
                            "name", null, "text", null, "user.lastname"|trans|capitalize, null, null, "name") }}
                    {{ forms.input("password", null, "password", null, "user.psw"|trans|capitalize, null, "password", null) }}
                    {{ forms.button_form("submit", "add", null, "tooltip", "left", 'user.create'|trans|capitalize, 'user.create'|trans|capitalize) }}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('Resources/public/js/forms.js') }}"></script>
{% endblock %}