{% extends 'base.html.twig' %}
{% block content %}
    <div>
        <ul class="nav nav-tabs">
            {% set page = {'active': ''} %}
            {% include 'accountinfo/navbar.html.twig' with page %}
            <li class="active">
                <a href="{{ path('user_index', { 'account': account }) }}">{{ accountInfo.name }}</a>
            </li>
        </ul>
        <table>
            <tbody>
                <tr>
                    <th>Nom de la compte</th>
                    <td>{{ accountInfo.name }}</td>
                </tr>
                <tr>
                    <th>C'est actif ?</th>
                    <td>{% if accountInfo.isActive %}Oui{% else %}No{% endif %}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ accountInfo.description }}</td>
                </tr>
                <tr>
                    <th>Créé</th>
                    <td>{% if accountInfo.createdOn %}{{ accountInfo.createdOn|date('Y-m-d H:i:s') }}{% endif %}</td>
                </tr>
            </tbody>
        </table>
        <ul>
            {% if is_granted('ROLE_GOD') or is_granted('ROLE_PROVIDER') %}
                <li>
                    <a href="{{ path('accountinfo_edit', { 'id': accountInfo.id , 'account': account }) }}">Modifier</a>
                </li>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
                {#<li>
                    {{ form_start(delete_form) }}
                    <input type="submit" value="Effacer">
                    {{ form_end(delete_form) }}
                </li>#}
            {% endif %}
        </ul>
    </div>
{% endblock %}