{% extends 'base.html.twig' %}
{% block content %}
    <div>
        <ul class="nav nav-tabs">
            {% set page = {'active': ''} %}
            {% include 'accountinfo/navbar.html.twig' with page %}
            <li class="active">
                <a href="{{ path('user_index', { 'account': account }) }}">{{ accountInfo.name }}</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" >
                <div class="addItem">
                    <table>
                        <tbody>
                            <tr>
                                <th>{{ "account.name"|trans|capitalize }}</th>
                                <td>{{ accountInfo.name }}</td>
                            </tr>
                            <tr>
                                <th>{{ "account.isActive"|trans|capitalize }}</th>
                                <td>{% if accountInfo.isActive %}{{ "general.yes"|trans|capitalize }}{% else %}{{ "general.no"|trans|capitalize }}{% endif %}</td>
                            </tr>
                            <tr>
                                <th>{{ "general.description"|trans|capitalize }}</th>
                                <td>{{ accountInfo.description }}</td>
                            </tr>
                            <tr>
                                <th>{{ "general.created"|trans|capitalize }}</th>
                                <td>{% if accountInfo.createdOn %}{{ accountInfo.createdOn|date('Y-m-d H:i:s') }}{% endif %}</td>
                            </tr>
                        </tbody>
                    </table>
                    {% if is_granted('ROLE_GOD') or is_granted('ROLE_PROVIDER') %}
                        <a class="add" href="{{ path('accountinfo_edit', { 'id': accountInfo.id , 'account': account }) }}">{{ "general.edit"|trans|capitalize }}</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <ul>
            {% if is_granted('ROLE_ADMIN') %}
                {#<li>
                    {{ form_start(delete_form) }}
                    <input type="submit" value="Effacer">
                    {{ form_end(delete_form) }}
                </li>#}
            {% endif %}
        </ul>
    </div>
{% endblock %}