{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css"/>
    <link rel="stylesheet" href="{{ asset('Resources/public/css/iframe.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('Resources/public/css/jquery.dataTables.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('Resources/public/css/buttons.dataTables.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('Resources/public/css/select.dataTables.min.css') }}">
    <link rel="stylesheet" href="{{ asset('Resources/public/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('Resources/public/css/generator.css') }}">
{% endblock %}

{% block content %}
    <div class="load">
        <div>
            <img src="{{ asset('Resources/public/media/assets/loading.gif') }}">
        </div>
    </div>
    <div>
        <ul class="nav nav-tabs">
            {% set page = {'active': 'type_b'} %}
            {% include 'report/navbar.html.twig' with page %}
        </ul>
    </div>
    <div class="tab-content">
        <div align="center" style="margin: 30px auto; padding: 0">
            <div class="filters">
                <h1>Filtrer les résultats</h1>
                <div class="fil-select">
                    <label for="filter_quiz_id">ID Quiz </label>
                    <select class='select-filter' id="filter_quiz_id">
                        <option value="all">Tous</option>
                    </select>
                </div>
                <div class="fil-select">
                    <label for="filter_corporate_id">ID Compagnie </label>
                    <select class='select-filter' id="filter_corporate_id">
                        <option value="all">Tous</option>
                    </select>
                </div>
                <div class="fil-select right">
                    <label for="filter_group_id">ID Groupe </label>
                    <select class='select-filter' id="filter_group_id">
                        <option value="all">Tous</option>
                    </select>
                </div>
                <div class="fil-select right">
                    <label for="filter_agency_id">ID Agence </label>
                    <select class='select-filter' id="filter_agency_id">
                        <option value="all">Tous</option>
                    </select>
                </div>
                <div class="fil-select right">
                    <label for="filter_quiz_progress">Progrès </label>
                    <select class='select-filter' id="filter_quiz_progress">
                        <option value="all">Tous</option>
                    </select>
                </div>
            </div>
            <table id="example" class="display" cellspacing="0"></table>
            <div class="filters">
                <div class="bodyEntete">
                    <p>Générer les rapports usagers:</p>
                </div>
                <div class="bodyButton">
                    <input type="button" class='btn_filters' value="Générer rapport(s) usager(s)" 
                           id="GenerateUsersReports" data-type="type_b"/>
                </div>
            </div>
            <div class="filters">
                <div class="bodyEntete">
                    <p>Générer les rapports de participation:</p>
                </div>
                <div class="bodyButton">
                    <input type="button" class='btn_filters' value="Générer rapport de participation" 
                           id="GenerateParticipationReport"/>
                </div>
            </div>
            <div class="filters">
                <div class="bodyEntete">
                    <p>Générer les rapports de groupe:</p>
                </div>
                <div class="bodyButton">
                    <input type="button" class='btn_filters' value="Générer rapport de groupe" 
                           id="onGroupeReport"/>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.13/datatables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/select/1.2.1/js/dataTables.select.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.js"></script>
    <script type="text/javascript" charset="utf8" src="{{ asset('Resources/public/js/ellipsis.js') }}"></script>
    <script type="text/javascript" charset="utf8" src="{{ asset('Resources/public/js/dataTables.select.min.js') }}"></script>
    <script type="text/javascript" charset="utf8" src="{{ asset('Resources/public/js/dataTables.buttons.min.js') }}"></script>
    <script type="text/javascript" charset="utf8" src="{{ asset('Resources/public/js/utils.js') }}"></script>
    <script type="text/javascript" charset="utf8" src="{{ asset('Resources/public/js/jspdf_1_2_61.debug.js') }}"></script>
    <script type="text/javascript" charset="utf8" src="{{ asset('Resources/public/js/jspdf.plugin.autotable_2_0_22.js') }}"></script>
    <script type="text/javascript" charset="utf8" src="{{ asset('Resources/public/js/pdf_generator_cfc.js') }}"></script>
    <script type="text/javascript" charset="utf8" src="{{ asset('Resources/public/js/generator.js') }}"></script>
    <script type="text/javascript" >
        var account = "{{ account }}";
        $(document).ready(function () {
            GetAllQuizInfoFromServer('SQUARE_25');
            var table = $('#all_accounts').DataTable();
        });
    </script>
{% endblock %}