{% extends 'login_base.html.twig' %}
{% import "forms.html.twig" as forms %}
{% block body %}
    <nav>
        <div class="image">
            <img src="{{ asset('Resources/public/media/images/logoCompany_Nova.png') }}">
        </div>
        <div class="text-login">
            <h1>Ouverture de session</h1>
        </div>
    </nav>
    <article class="content-login">
        {% if error %}
            <div>
                <p>Les données ne sont pas valides</p>
            </div>
        {% endif %}
        <form method="POST">
            {{ forms.input("username", userInfo.username, "text", null, "Nom d'utilisateur", null, "text", null, true) }}
            {{ forms.double_input("firstname", null, "text", null, "Prénom", null, null, "name", "name", null, "text", null, "Nom de famille", null, "name", "name") }}
            {{ forms.input("password", null, "password", null, "Mot de passe", null, "password", null) }}
            {{ forms.input("n1password", null, "password", null, "Nouveau mot de passe", null, "password", null) }}
            {{ forms.input("n2password", null, "password", null, "Confirmer nouveau mot de passe", null, "password", null) }}
            {{ forms.button_form("submit", "add", null, "tooltip", "left", "activer utilisateur", "Activer utilisateur") }}
        </form>
    </article>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('Resources/public/js/forms.js') }}"></script>
{% endblock %}