{% extends 'login_base.html.twig' %}
{% block body_class 'login' %}
    {% block body %}
        <nav>
            <div class="image">
                <img src="{{ asset('Resources/public/media/images/logoCompany_Nova.png') }}">
            </div>
            <div class="text-login">
                <h1>{{ "login.title"|trans|capitalize }}</h1>
            </div>
        </nav>
        <article class="content-login">
            {% if error %}
                <div class="login_failed hidden_failed">
                    <p>{{ "login.errorMsg"|trans|capitalize }}</p>
                </div>
            {% endif %}
            <form action="{{ path('login', { 'account': account, "_locale": app.request.locale }) }}" method="post">
                <div>
                    <input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="{{ "user.username"|trans|capitalize }}" />
                </div>
                <div>
                    <input type="password" id="password" name="_password" placeholder="{{ "user.psw"|trans|capitalize }}" />
                </div>
                <input type="hidden" name="_target_path" value="/{{ account }}/{{ app.request.locale }}/user/profile" />
                <input type="hidden" name="_failure_path" value="/{{ account }}/{{ app.request.locale }}" />
                <hr>
                <button type="submit">{{ "login.login"|trans|capitalize }}</button>
            </form>
        </article>
    {% endblock %}
